/* Global stylings test test*/
:root {
  /* color scheme (adjusted to web-safe colors)*/
  --color-0: #AADFF1;
  --color-1: #FBB57F;
  --color-2: #F59DB2;
  --color-3: #FCEC98;
  --color-4: #80CAA5;

  /* define font types */
  --header: 'Roboto', sans-serif;
  --normal: 'Work Sans', sans-serif;
  --mono: 'DM Mono', monospace;
}

/* Background */
.Background_0 {
  background-color: var(--color-0);
} .Background_1 {
  background-color: var(--color-1);
} .Background_2 {
  background-color: var(--color-2);
} .Background_3 {
  background-color: var(--color-3);
} .Background_4 {
  background-color: var(--color-4);
}

/* Foreground */
.Foreground_0 {
  color: var(--color-0);
} .Foreground_1 {
  color: var(--color-1);
} .Foreground_2 {
  color: var(--color-2);
} .Foreground_3 {
  color: var(--color-3);
} .Foreground_4 {
  color: var(--color-4);
}

/* Border */
.Border_0 {
  border-color: var(--color-0);
} .Border_1 {
  border-color: var(--color-1);
} .Border_2 {
  border-color: var(--color-2);
} .Border_3 {
  border-color: var(--color-3);
} .Border_4 {
  border-color: var(--color-4);
}

/* text classes */
.FontTitle {
  font-family: var(--header);
  font-size: 5em;
} .FontSubtitle {
  font-family: var(--header);
  font-size: 4em;
  line-height: 0.5em;
} .FontHeader {
  font-family: var(--header);
  font-size: 3em;
} .FontNormal {
  font-family: var(--normal);
  font-size: 1em;
} .FontMono {
  font-family: var(--mono);
  font-size: 1em;
}

/* define specific depths */

.Wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  opacity: 80%;
  filter: saturate(50%) brightness(120%);
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 768px) {
  .Wallpaper {
    width: auto;
    height: 100vh;
  }
}

/* filters */
.Blur {
  filter: none;
  filter: blur(.25em) brightness(110%);
  transform: scale(1.02);
}

/* Hide element with this className */
.Hidden {
  opacity: 0%;
  pointer-events: none;
}

a {
  color: inherit;
  text-emphasis: none;
  text-decoration: none;
}

i {
  width: 20px;
  height: 20px;
}



