/* general classnames for consistently reused stylings */

/* specific type of layer*/

/* Wallpaper, Gallery, etc */
.BackgroundGUI {
  z-index: 0;
  text-align: center;
  transition: 500ms;
}


/* Menu, Social, consistent but toggalable divs*/
.ForegroundGUI {
  z-index: 2;
}


/* Used for temporary modals for alerts*/
.ModalLayer {
  z-index: 1;
}

/* Layer using flexbox */
.FlexLayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* a transparent layer which takes up the entire screen */
.Layer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  pointer-events: none;

  /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25)); */
}

/* Clickable Element */
.Element {
  pointer-events: all;
}