/* general classnames for consistently reused stylings */

/* a transparent layer which takes up the entire screen */
.Layer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  pointer-events: none;
}

/* Clickable Element */
.Element {
  pointer-events: all;
}