.MenuOverlay, .MenuContent {
  z-index: 1;
}

.MenuContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: 500ms;
}

.MenuContent_Hidden {
  opacity: 0%;
  transform: translateX(500px);
}

.MenuOverlay {
  opacity: 25%;
  transition: 400ms;
  pointer-events: all;
}

.MenuOverlay_Hidden {
  opacity: 0%;
}

.MenuTitle {
  text-align: center;
}

.MenuLinks {
  width: fit-content;
  height: fit-content;
  text-align: right;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.MenuLink {
  margin-top: 10px;
  margin-bottom: 10px;
}

.MenuButton {
  z-index: 2;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.Strip {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 10px;
  margin: 0px;
  padding: 0px;
  transition: 200ms;
}

.Strip_1, .Strip_1_X {
  top: 0px;
} .Strip_2, .Strip_2_X {
  top: 10px;
} .Strip_3, .Strip_3_X {
  top : 0px;
} .Strip_4, .Strip_4_X {
  top: 10px;
}

/* transition */
.Strip_1_X {
  transform: translateY(30px);
  opacity: 0;
} .Strip_2_X {
  transform: rotate(45deg);
} .Strip_3_X {
  transform: rotate(-45deg);
} .Strip_4_X {
  transform: translateY(-30px);
  opacity: 0;
}
