.Social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: solid 5px;
  font-size: 28px;
  margin: 5px;
  transition: 200ms;
}

.Social:hover {
  transform: scale(1.2);
}

.SocialBar {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}